.messenger-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.chat-area {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #e5ddd5;
}